<div ng-controller="SceneListController">
	<div class="container">
		<div class="row">
			<div class="col-md-10">
				<h2>Smarthome</h2>
				<hr />
			</div>
		</div>
		<div class="row" ng-show="message">
			<div class="col-md-10">
				<div class="alert alert-info" role="alert">{{message}}</div>
			</div>
		</div>
		<div class="row" ng-show="error">
			<div class="col-md-10">
				<div class="alert alert-danger" role="alert">{{error}}</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-10">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>House ID</th>
							<th>Scene ID</th>
							<th>Scene Name</th>
							<th># Devices</th>
							<th>Scheduled</th>
							<th>On Time</th>
							<th>Off Time</th>
							<th>&nbsp;</th>
						</tr>
					</thead>
					<tbody>
						<!-- Display each entry in a row -->
						<tr ng-repeat="scene in scenes">
							<td>{{scene.HouseID}}</td>
							<td>{{scene.SceneID}}</td>
							<td>{{scene.SceneName}}</td>
							<td>{{scene.DeviceList.length}}</td>
							<td>{{scene.TimerEnabled}}</td>
							<td>{{scene.OnTime}}</td>
							<td>{{scene.OffTime}}</td>
							<td></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div ng-include src="'/partials/footer.html'"></div>
	</div>
</div>
